<form class="homebrew-form">
	<style>
		.homebrew-form {
			display: flex;
			flex-direction: column;
			background-color: #fcfaff;
			padding: 10px;
			border: 1px solid #6633cc;
			border-radius: 5px;
			width: 95%;
			margin: 0 auto;
		}

		.homebrew-form p {
			font-weight: bold;
			color: #6633cc;
		}

		.homebrew-form select,
		.homebrew-form textarea {
			width: 100%;
			padding: 8px;
			margin-bottom: 8px;
			border: 1px solid #6633cc;
			border-radius: 4px;
			background-color: #e8cafa;
			outline: none;
			transition: border-color 0.3s ease;
		}

		.homebrew-form select {
			padding: 2px;
			margin-bottom: 0;
		}
		.homebrew-form select:focus,
		.homebrew-form textarea:focus {
			border-color: #512b9d;
			box-shadow: 0 0 0 1px #6633cc;
		}

		.homebrew-form button {
			padding: 10px 15px;
			background-color: #6633cc;
			color: #fcfaff;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		.homebrew-form button:hover {
			background-color: #512b9d;
		}
		.homebrew-form input {
			width: 100%;
			padding: 8px;
			margin-bottom: 8px;
			border: 1px solid #6633cc;
			border-radius: 4px;
			background-color: #e8cafa;
			outline: none;
			transition: border-color 0.3s ease;
		}

		.homebrew-form input::placeholder {
			color: #8a63b7;
		}

		.homebrew-form input:focus {
			border-color: #512b9d;
			box-shadow: 0 0 0 1px #6633cc;
		}

		.record-type-container {
			display: flex;
			align-items: center;
		}

		.flex-grow {
			flex: 1;
		}

		.delete-schema-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 8px;
			border: none;
			background-color: transparent;
			color: #e8cafa;
			cursor: pointer;
			padding: 0 !important;
			transition: color 0.3s ease;
			height: 27px;
			width: 27px;
			border: 1px solid transparent;
			border-radius: 4px;
		}

		.delete-schema-btn:hover {
			color: #e8cafa;
			border: 1px solid #512b9d;
			background-color: #e8cafa;
		}

		.fas {
			vertical-align: middle;
		}
	</style>
	<div>
		<p>{{localize "RP-CREATIONS.TEMPLATES.HOMEBREW.TYPE"}}:</p>
		<div class="record-type-container">
			<select
				id="record-type"
				name="record-type"
				class="flex-grow">
				{{#each sortedKeys as |key|}}
				<option value="{{key}}">{{key}}</option>
				{{/each}}
				<option value="custom">{{localize "RP-CREATIONS.TEMPLATES.HOMEBREW.CUSTOM"}}...</option>
			</select>
			<button
				id="delete-schema-btn"
				class="delete-schema-btn"
				style="display: none">
				<i class="fas fa-trash"></i>
			</button>
		</div>
		<input
			type="text"
			id="custom-record-type"
			name="custom-record-type"
			placeholder="Type custom record type here"
			style="display: none" />

		<br /><br />
		<p>{{localize "RP-CREATIONS.TEMPLATES.HOMEBREW.DESCRIPTION"}}:</p>
		<textarea
			id="prompt"
			name="prompt"
			rows="5"></textarea>
		<br /><br />
		<p>{{localize "RP-CREATIONS.TEMPLATES.HOMEBREW.JSON"}}:</p>
		<textarea
			id="schema"
			name="schema"
			rows="10">
{{defaultSchema}}</textarea
		>

		<br /><br />
		<button type="submit">{{localize "RP-CREATIONS.TEMPLATES.HOMEBREW.BUTTON_CREATE"}}</button>
	</div>
</form>
